.bg-container {
  background: linear-gradient(to bottom, #9ba9eb, #c3caea);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.app-logo {
  height: 35px;
  width: 100px;
}

.main-card {
  display: flex;
  flex-direction: column;
}

.input-card-container {
  background-color: #5763a5;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px 10px 15px 0;
  height: 350px;
  padding: 20px;
  border-radius: 10px;
}

.bg-img {
  height: 250px;
  width: 300px;
  display: flex;
  align-items: flex-end;
  /* align-self: flex-end; */
  margin: 30px;
}

.card {
  background-color: #454f84;
  border: none;
  border-radius: 20px;
  padding: 20px;
  height: 250px;
  width: 300px;
  margin: 20px;
}

.para {
  color: white;
  font-weight: 550;
  font-size: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: row;
  margin: 5px;
  width: 100%;
  font-weight: 550;
}

.input-logo {
  height: 30px;
  width: 30px;
  background-color: white;
  border: none;
  border-radius: 2px;
  border-right: 1px;
}

.input {
  height: 30px;
  width: 100%;
  border: 1px solid white;
  margin-left: 1px;
  border-radius: 2px;
}

.button {
  /* height: 35px;
  width: 45px;
  background-color: #0b69ff;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-self: flex-end;
  text-align: center;
  padding: 10px; */
  background-color: #0b69ff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.output-card-container {
  /* background-color: #5763a5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px 10px 15px 0;
  height: 350px;
  padding: 20px;
  border-radius: 10px; */
  background-color: #5763a5;
  padding: 30px;
  border-radius: 20px;
  max-height: 500px;
  /* overflow-y: auto; */
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.count {
  height: 10px;
  background-color: transparent;
  color: white;
  /* border: 1px solid white; */
  border-radius: 5px;
  margin: 5px;
}

.your-password {
  font-size: 20px;
  color: white;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.input-search {
  height: 30px;
  width: 150px;
  border: 1px solid white;
  margin-left: 1px;
  border-radius: 2px;
}

.input-logo-search {
  height: 30px;
  width: 30px;
  background-color: white;
}

.seperator {
  color: white;
  width: 100%;
  margin: 0;
}

.show-password {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  color: white;
}

.label {
  margin-left: 10px;
  font-weight: 550;
}

.password-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #454f84;
  color: white;
  overflow: auto;
}

.no-password-image {
  height: 100px;
  width: 150px;
}

.no-password-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  color: white;
  font-weight: 550;
}

.profile {
  color: white;
  background-color: aquamarine;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  margin-right: 15px;
}

.yyyy {
  display: flex;
  align-items: center;
  gap: 10px;
}

.delete {
  height: 30px;
  width: 30px;
}

.delete-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: auto;
  padding: 5px;
}

.password-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 350px;
  max-width: 100vh; /* Control the height to prevent overflow */
  overflow-y: auto;
  flex-wrap: wrap;
}

.star {
  height: 15px;
}
